<ion-header>
  <ion-toolbar>
    <ion-title>
      Mi Diario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Título</ion-label>
      <ion-input [(ngModel)]="title" placeholder="Ingrese el título"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fecha</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea [(ngModel)]="description" placeholder="Ingrese la descripción"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="takePhoto()">Tomar Foto</ion-button>
  <ion-img *ngIf="photo" [src]="photo"></ion-img>

  <ion-button expand="full" (click)="saveEntry()">Guardar</ion-button>
</ion-content>

